---
import { primaryNavLinks } from '../data';
---

{
  primaryNavLinks.map((link) => (
    <li>
      <a href={link.hash}>{link.name}</a>
    </li>
  ))
}

<style>
  a {
    text-decoration: none;
    color: var(--clr-neutral-900);
  }
</style>
